*{
    margin: 0;
    padding: 0;

}

.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(wp2543298-microsoft-windows-10-wallpapers.jpg);
    background-position: center;
    background-size: cover;
    height: 109vh;
    
}
.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;

}
.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color: white;
    font-size: 25px;
    font-family: Arial;
    padding-left: 20px;
    float: right;
    padding-top: 10px;


}
.menu{
    width: 400px;
    float: left;
    height: 70px;

}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;

 
}
ul li a{
    text-decoration: none;
    color: brown;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: red;

}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid orangered;
    margin-top: 13px;
    border: 1px solid orange;
    margin-top: 13px;
    color: white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.btn{
    width: 70px;
    height: 30px;
    background: orangered;
    border: 2px solid orangered;
    margin-top: 13px;
    color: aliceblue;
    font-size: 15px;
    border-bottom-left-radius: 5px;

}
.btn:focus{
    outline: none;

}
.srch:focus{
    outline: none;

}
.content{
    width: 1200px;
    height: auto;
    margin: auto;
    color: brown;
    position: relative;
}
.content .par{
    padding: 20px;
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.audio{
    font-family: Arial;
    position: ;
    height: 100px;
    width: 200px;
}
